.d-none {
  display: none !important;
}
.ly-skills {
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 100px);
}
.ly-skills .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 32px;
  font-family: "CaviarDreams";
}
.ly-skills .skills-graph {
  flex: 1;
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-graph .ly-big-sphere {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  margin: 0 3rem;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.p-relative {
  position: relative;
}
.sphere {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
}
.sphere img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.skills-graph .info {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-graph .info .card {
  display: none;
  padding: 16px 2rem;
  font-size: 20px;
  border: 1px solid #eee;
  align-items: center;
  box-shadow: 10px 10px 24px 0px rgba(238, 238, 238, 1);
}
.skills-graph .info .card img {
  height: 75px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 1rem;
}

/*animations*/
@-webkit-keyframes side-in-right {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes side-in-right {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .ly-skills {
    width: 100%;
  }
  .skills-graph {
    width: 100%;
    flex-direction: column;
    height: auto !important;
    padding: 32px 0;
  }
  .skills-graph .info {
    margin: 64px 0;
  }
}
