.d-none {
  display: none !important;
}
#ly-skills {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#ly-skills #title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 32px;
  font-family: "CaviarDreams";
}
#ly-skills #skills-graph {
  flex: 1;
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills-graph #ly-big-sphere {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: 0 3rem;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.p-relative {
  position: relative;
}
.sphere {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
}

.sphere img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#skills-graph #info {
  width: 300px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills-graph #info #card {
  display: none;
  align-items: center;
  font-size: 20px;
  padding: 16px 2rem;
  border: 1px solid #eee;
  box-shadow: 10px 10px 24px 0px rgba(238, 238, 238, 1);
}
#skills-graph #info #card img {
  height: 75px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 1rem;
}

#ly-skills #skills-list {
  flex: 1;
  width: 100%;
  min-height: calc(100vh - 150px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#ly-skills #skills-list .card-skill {
  width: 300px;
  height: 100px;
  justify-self: center;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
#ly-skills #skills-list .card-skill img {
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 1rem;
}

#ly-skills #buttons {
  position: relative;
  bottom: 50px;
  align-self: center;
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 3rem;
  border: 1px solid #cccccc;
  box-shadow: -11px 11px 33px 0px rgba(238, 238, 238, 1);
}
#ly-skills #buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#ly-skills #buttons #button-graph {
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 3rem 0 0 3rem;
}
#ly-skills #buttons #button-list {
  width: 50%;
  border-radius: 0 3rem 3rem 0;
}
p {
  margin: 0;
}
/*animations*/
@-webkit-keyframes side-in-right {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes side-in-right {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
